@*@model MySql.Data.MySqlClient.MySqlDataReader*@
@model  System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>@ViewBag.a</h2>
    <h2>@ViewBag.b</h2>
    <div> 
        <table>
            <tr>
                <td>id</td>
                <td>name</td>
            </tr>
           @{ for(int i=0;i<Model.Rows.Count;i++)
               {
            <tr>
                <td>@Model.Rows[i]["id"].ToString()</td>
                <td>@Model.Rows[i]["name"].ToString()</td>
            </tr>
               }
        }
        </table>
    </div>
</body>
</html>
